<div style="font-size: 18px; line-height: 1">
  <p>
    <strong style="font-size: 20px"
      >[แจ้งเตือนเกี่ยวกับการยกเลิกการลงทะเบียนเรียน]</strong
    >
  </p>
  <p>
    มีผู้ยกเลิกการลงทะเบียนเรียน:
    <strong style="color: #fb2c36">{{classId}} </strong>
    <strong style="color: #6b11b0">{{classTitle}} </strong>
  </p>
  <p>
    ผู้ยกเลิก:
    <strong>{{cancelingUserName}} ({{cancelingUserEmail}})</strong>
  </p>
  <hr />
  <h3>รายชื่อผู้ลงทะเบียนที่เหลืออยู่ ({{remainingUserCount}} คน):</h3>
  <ul>
    {{userListHtml}}
  </ul>
</div>
