<div style="font-size: 18px; line-height: 1;">
<p>เรียน คุณ {{studentName}}</p>
<br />
<p>
  ห้องสมุดคณะเทคนิคการแพทย์ขอแจ้งให้ทราบว่าท่านได้ลงทะเบียนเรียบร้อยแล้ว โดยมีรายละเอียดดังนี้
</p>
<br />
  <h2>{{classTitle}}</h2>
  <p>วิทยากร:{{classSpeaker}}</p>
  <p>วันที่:{{classStartDate}} - {{classEndDate}}</p>
  <p>เวลา: {{classStartTime}} - {{classEndTime}} น.</p>
  <p>รูปแบบ: {{classFormat}}</p>
  <p>ภาษา: {{classLanguage}}</p>
  <p>รายละเอียด: {{classDescription}}</p>
  <a href="{{classLinkSection}}" target="_blank">{{classLinkSection}}</a>
  {{classLocationSection}}
  <br />
  <br />
  <p><strong>เอกสารประกอบการสอน</strong></p>
  {{classMaterialsSection}}
  <br />
  <br />
  <p>ห้องสมุดคณะเทคนิคการแพทย์</p> <br />
 <em>
      <p>หมายเหตุ: จดหมายฉบับนี้เป็นการตอบกลับโดยอัตโนมัติของระบบ</p>
      <p>หากต้องการสอบถามเพิ่มเติม ท่านสามารถติดต่อเจ้าหน้าที่ห้องสมุดโดยตรง</p>
      <p>ได้ที่เบอร์โทร 0-5393-5071 หรือ Facebook fanpage :
      <a href="https://www.facebook.com/AMSLibCMU"
        >https://www.facebook.com/AMSLibCMU</a
      >
  </em>
  </p>
</div>
