<div style="font-size: 18px; line-height: 1.6;">
  <p>เรียน คุณ {{studentName}}</p>
  <p>
    ห้องสมุดคณะเทคนิคการแพทย์ขอแจ้งให้ทราบว่าท่านได้ลงทะเบียนเรียบร้อยแล้ว โดยมีรายละเอียดดังนี้
  </p>

  <h2 style="margin-top: 20px;">{{classTitle}}</h2>
  <p>
    <strong>วิทยากร:</strong> {{classSpeaker}}<br />
    <strong>วันที่:</strong> {{classStartDate}} - {{classEndDate}}<br />
    <strong>เวลา:</strong> {{classStartTime}} - {{classEndTime}} น.<br />
    <strong>รูปแบบ:</strong> {{classFormat}}<br />
    <strong>ภาษา:</strong> {{classLanguage}}<br />
    <strong>รายละเอียด:</strong> {{classDescription}}
  </p>
  <p>
    <a href="{{classLinkSection}}" target="_blank">{{classLinkSection}}</a>
    <br />{{classLocationSection}}
  </p>
  <p style="margin-top: 20px;"><strong>เอกสารประกอบการสอน</strong></p>
  <div>
    {{classMaterialsSection}}
  </div>

  <p><br />ห้องสมุดคณะเทคนิคการแพทย์</p>
  <p>
     <em>หมายเหตุ: จดหมายฉบับนี้เป็นการตอบกลับโดยอัตโนมัติของระบบ หากต้องการสอบถามเพิ่มเติม ท่านสามารถติดต่อเจ้าหน้าที่ห้องสมุดโดยตรงได้ที่เบอร์โทร 0-5393-5071 หรือ Facebook fanpage : <a href="https://www.facebook.com/AMSLibCMU">https://www.facebook.com/AMSLibCMU</a></em>
  </p>
</div>
