<div style="font-size: 18px; line-height: 1;">
<p>เรียน คุณ {{requesterName}}</p>
<br />
<p>การสร้างคำขอเปิดหลักสูตร<strong>"{{requestTitle}}"</strong> ของท่าน ได้ถูกบันทึกไว้แล้ว</p>
<p>โดยขณะนี้คำขอของท่านอยู่ในระหว่างการพิจารณาจากเจ้าหน้าที่และจะแจ้งผลให้ทราบอีกครั้งทางอีเมล</p>
<p>ท่านสามารถตรวจสอบสถานะคำขอของท่านได้ในหน้า "สร้างคำขอเปิดหลักสูตร"</p>
<br />
<p>ห้องสมุดคณะเทคนิคการแพทย์</p>
 <br />
 <em>
      <p>หมายเหตุ: จดหมายฉบับนี้เป็นการตอบกลับโดยอัตโนมัติของระบบ</p>
      <p>หากต้องการสอบถามเพิ่มเติม ท่านสามารถติดต่อเจ้าหน้าที่ห้องสมุดโดยตรง</p>
      <p>ได้ที่เบอร์โทร 0-5393-5071 หรือ Facebook fanpage :
      <a href="https://www.facebook.com/AMSLibCMU"
        >https://www.facebook.com/AMSLibCMU</a
      >
  </em>
  </p>
</div>
