<div style="font-size: 18px; line-height: 1;">
<p>เรียน คุณ {{requesterName}}</p>
<br />
<p>ตามที่ท่านได้สร้างคำขอเปิดหลักสูตร <strong>"{{requestTitle}}"</strong> นั้น</p>
<p>ขณะนี้คำขอของท่านยังไม่ไม้รับการอนุมัติ เนื่องจาก</p>
<strong>{{rejectionReasonSection}}</strong>
<br />
<p>ห้องสมุดคณะเทคนิคการแพทย์ต้องขออภัยในความไม่สะดวกมา ณ ที่นี้</p>
<br />
<p>ห้องสมุดคณะเทคนิคการแพทย์</p> 
<br />
 <em>
      <p>หมายเหตุ: จดหมายฉบับนี้เป็นการตอบกลับโดยอัตโนมัติของระบบ</p>
      <p>หากต้องการสอบถามเพิ่มเติม ท่านสามารถติดต่อเจ้าหน้าที่ห้องสมุดโดยตรง</p>
      <p>ได้ที่เบอร์โทร 0-5393-5071 หรือ Facebook fanpage :
      <a href="https://www.facebook.com/AMSLibCMU"
        >https://www.facebook.com/AMSLibCMU</a
      >
  </em>
  </p>
</div>
