<div style="font-size: 18px; line-height: 1.6;">
  <p>เรียน คุณ {{requesterName}}</p>
  <p>
    ตามที่ท่านได้สร้างคำขอเปิดหลักสูตร <strong>"{{requestTitle}}"</strong> นั้น
    <br />ขณะนี้คำขอของท่านได้รับการอนุมัติแล้ว โปรดตรวจสอบในหน้า "หลักสูตรที่เปิดสอน" 
    <br />ซึ่งหลักสูตรดังกล่าวจะถูกสร้างขึ้นในเร็วๆ นี้
  </p>
  <p><br />ห้องสมุดคณะเทคนิคการแพทย์</p>
  <p>
     <em>หมายเหตุ: จดหมายฉบับนี้เป็นการตอบกลับโดยอัตโนมัติของระบบ หากต้องการสอบถามเพิ่มเติม ท่านสามารถติดต่อเจ้าหน้าที่ห้องสมุดโดยตรงได้ที่เบอร์โทร 0-5393-5071 หรือ Facebook fanpage : <a href="https://www.facebook.com/AMSLibCMU">https://www.facebook.com/AMSLibCMU</a></em>
  </p>
</div>
