<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /library/amslibclass/
  RewriteRule ^index\.html$ - [L]

  # ถ้าเป็นโฟลเดอร์ backend ให้ปล่อยผ่านไปเลย ไม่ต้องสนใจ
  RewriteCond %{REQUEST_URI} ^/library/amslibclass/backend [NC]
  RewriteRule ^ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /library/amslibclass/index.html [L]
</IfModule>