<div style="font-size: 18px; line-height: 1.6;">
  <p>เรียน คุณ {{requesterName}}</p>
  <p>
    การสร้างคำขอเปิดหลักสูตร <strong>"{{requestTitle}}"</strong> ของท่านได้ถูกบันทึกไว้แล้ว
    <br />โดยขณะนี้คำขอของท่านอยู่ในระหว่างการพิจารณาจากเจ้าหน้าที่ และจะแจ้งผลให้ทราบอีกครั้งทางอีเมล
  </p>
  <p>ท่านสามารถตรวจสอบสถานะคำขอของท่านได้ในหน้า "สร้างคำขอเปิดหลักสูตร"</p>
  
  <p><br />ห้องสมุดคณะเทคนิคการแพทย์</p>
  <p>
     <em>หมายเหตุ: จดหมายฉบับนี้เป็นการตอบกลับโดยอัตโนมัติของระบบ หากต้องการสอบถามเพิ่มเติม ท่านสามารถติดต่อเจ้าหน้าที่ห้องสมุดโดยตรงได้ที่เบอร์โทร 0-5393-5071 หรือ Facebook fanpage : <a href="https://www.facebook.com/AMSLibCMU">https://www.facebook.com/AMSLibCMU</a></em>
  </p>
</div>
