<div style="font-size: 18px; line-height: 1.6;">
  <p>เรียน คุณ {{requesterName}}</p>
  <p>
    ตามที่ท่านได้สร้างคำขอเปิดหลักสูตร <strong>"{{requestTitle}}"</strong> นั้น
    <br />ขณะนี้คำขอของท่านยังไม่ได้รับการอนุมัติ เนื่องจาก:
  </p>
  <div style="padding-left: 20px; border-left: 4px solid #f87171; color: #4b5563; margin: 15px 0;">
    {{rejectionReasonSection}}
  </div>
  <p>ห้องสมุดคณะเทคนิคการแพทย์ต้องขออภัยในความไม่สะดวกมา ณ ที่นี้</p>
  
  <p><br />ห้องสมุดคณะเทคนิคการแพทย์</p>
  <p>
     <em>หมายเหตุ: จดหมายฉบับนี้เป็นการตอบกลับโดยอัตโนมัติของระบบ หากต้องการสอบถามเพิ่มเติม ท่านสามารถติดต่อเจ้าหน้าที่ห้องสมุดโดยตรงได้ที่เบอร์โทร 0-5393-5071 หรือ Facebook fanpage : <a href="https://www.facebook.com/AMSLibCMU">https://www.facebook.com/AMSLibCMU</a></em>
  </p>
</div>
