@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

:root {
  font-family: "Sarabun", Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  button, 
  [role="button"],
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  a {
    cursor: default !important;
  }
}

@layer utilities {
  .cursor-pointer {
    cursor: default !important;
  }
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}