<p>เรียน คุณ {{studentName}},</p>
<p>
  ห้องสมุดคณะเทคนิคการแพทย์ขอแจ้งให้ทราบว่าท่านได้ลงทะเบียนเรียบร้อยแล้ว
  โดยมีรายละเอียดดังนี้
</p>
<hr />
<h2>{{classTitle}}</h2>
{{classDescription}}
<p><strong>Class ID:</strong> {{classId}}</p>
<p><strong>วิทยากร:</strong> {{classSpeaker}}</p>
<p><strong>วันที่:</strong> {{classStartDate}} - {{classEndDate}}</p>
<p><strong>เวลา:</strong> {{classStartTime}} - {{classEndTime}} น.</p>
<p><strong>รูปแบบ:</strong> {{classFormat}}</p>
<p><strong>ภาษา:</strong> {{classLanguage}}</p>
{{classLinkSection}} {{classLocationSection}}
<hr />
{{classMaterialsSection}}
<p>เราจะส่งจดหมายแจ้งเตือนท่านก่อน 1 วัน ก่อนที่จะเปิดให้ท่านเข้าร่วม</p>
<p>จึงเรียนมาเพื่อโปรดทราบ</p>
<p>ขอแสดงความนับถือ<br />ห้องสมุดคณะเทคนิคการแพทย์</p>
<p>
  หมายเหตุ: นี่เป็นเพียงจดหมายตอบกลับอัตโนมัติของระบบ หากต้องการสอบถามเพิ่มเติม
  ท่านสามารถติดต่อเจ้าหน้าที่ห้องสมุดได้โดยตรง
</p>
