<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /amslibclass/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /amslibclass/index.html [L]
</IfModule>